{{!-- para la cabesera --}}
{{> header }}
    {{!-- para llamar al contenido de los botones --}}
    {{> navbar}}
    <br>
    <br>
    <br>
<h1>Listado del cursos</h1>
<table border="2">
<tr>
  <td><strong>DATOS</strong></td>
  <td><strong>NOMBRE</strong></td>
  <td><strong>APELLIDO</strong></td>
</tr>
<tr>
  <td>1</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>2</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>3</td>
 <td></td>
  <td></td>
</table>
   {{!-- para llamar el pie de pagina --}}
{{> footer}}